In [3]:
import pyspark
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

/Users/jacobfletcher/anaconda3/envs/sparkify_churn/lib/python3.10/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [4]:
# create a Spark session

spark = SparkSession \
    .builder \
    .appName("Spark Churn") \
    .getOrCreate()

23/12/19 00:27:34 WARN Utils: Your hostname, Jacobs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.4.156 instead (on interface en0)
23/12/19 00:27:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/19 00:27:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [30]:

psdf = spark.read.json("mini_sparkify_event_data.json")

In [46]:
pd.DataFrame(data=psdf.dtypes)

                0       1
0          artist  string
1            auth  string
2       firstName  string
3          gender  string
4   itemInSession  bigint
5        lastName  string
6          length  double
7           level  string
8        location  string
9          method  string
10           page  string
11   registration  bigint
12      sessionId  bigint
13           song  string
14         status  bigint
15             ts  bigint
16      userAgent  string
17         userId  string

### Check Nulls

In [50]:
ps.isna(psdf)

False

In [53]:
num_cols = [psdf.dtypes[i][0] for i in range(len(psdf.columns)) if psdf.dtypes[i][1] != 'string']
obj_cols =  [psdf.dtypes[i][0] for i in range(len(psdf.columns)) if psdf.dtypes[i][1] == 'string']


psdf[num_cols].describe().show()

+-------+------------------+------------------+--------------------+-----------------+------------------+--------------------+
|summary|     itemInSession|            length|        registration|        sessionId|            status|                  ts|
+-------+------------------+------------------+--------------------+-----------------+------------------+--------------------+
|  count|            286500|            228108|              278154|           286500|            286500|              286500|
|   mean|114.41421291448516|249.11718197783478|1.535358834085557...|1041.526554973822|210.05459685863875|1.540956889810471...|
| stddev|129.76726201141113| 99.23517921058324|3.2913216163276587E9|726.7762634630808|31.505078488422033| 1.507543960823119E9|
|    min|                 0|           0.78322|       1521380675000|                1|               200|       1538352117000|
|    max|              1321|        3024.66567|       1543247354000|             2474|               404|       1543799476000|
+-------+------------------+------------------+--------------------+-----------------+------------------+--------------------+

In [63]:
psdf[obj_cols].show()

+--------------------+---------+---------+------+--------+-----+--------------------+------+---------------+--------------------+--------------------+------+
|              artist|     auth|firstName|gender|lastName|level|            location|method|           page|                song|           userAgent|userId|
+--------------------+---------+---------+------+--------+-----+--------------------+------+---------------+--------------------+--------------------+------+
|      Martha Tilston|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|       NextSong|           Rockpools|Mozilla/5.0 (Wind...|    30|
|    Five Iron Frenzy|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|       NextSong|              Canada|"Mozilla/5.0 (Win...|     9|
|        Adam Lambert|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|       NextSong|   Time For Miracles|Mozilla/5.0 (Wind...|    30|
|              Enigma|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|       NextSong|Knocking On Forbi...|"Mozilla/5.0 (Win...|     9|
|           Daft Punk|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|       NextSong|Harder Better Fas...|Mozilla/5.0 (Wind...|    30|
|The All-American ...|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|       NextSong|      Don't Leave Me|"Mozilla/5.0 (Win...|     9|
|The Velvet Underg...|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|       NextSong|         Run Run Run|"Mozilla/5.0 (Win...|     9|
|        Starflyer 59|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|       NextSong|Passengers (Old A...|Mozilla/5.0 (Wind...|    30|
|                NULL|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|Add to Playlist|                NULL|Mozilla/5.0 (Wind...|    30|
|            Frumpies|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|       NextSong|          Fuck Kitty|Mozilla/5.0 (Wind...|    30|
|        Britt Nicole|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|       NextSong|   Walk On The Water|"Mozilla/5.0 (Win...|     9|
|                NULL|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   GET|    Roll Advert|                NULL|"Mozilla/5.0 (Win...|     9|
|Edward Sharpe & T...|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|       NextSong|                Jade|Mozilla/5.0 (Wind...|    30|
|               Tesla|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|       NextSong|      Gettin' Better|"Mozilla/5.0 (Win...|     9|
|                NULL|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|      Thumbs Up|                NULL|"Mozilla/5.0 (Win...|     9|
|         Stan Mosley|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|       NextSong|   So-Called Friends|Mozilla/5.0 (Wind...|    30|
|Florence + The Ma...|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|       NextSong| You've Got The Love|"Mozilla/5.0 (Win...|     9|
|   Tokyo Police Club|Logged In|  Ashlynn|     F|Williams| free|     Tallahassee, FL|   PUT|       NextSong|Citizens Of Tomorrow|"Mozilla/5.0 (Mac...|    74|
|             Orishas|Logged In|    Colin|     M| Freeman| paid|     Bakersfield, CA|   PUT|       NextSong|           Represent|Mozilla/5.0 (Wind...|    30|
|             Ratatat|Logged In|    Micah|     M|    Long| free|Boston-Cambridge-...|   PUT|       NextSong|              Swisha|"Mozilla/5.0 (Win...|     9|
+--------------------+---------+---------+------+--------+-----+--------------------+------+---------------+--------------------+--------------------+------+
only showing top 20 rows

TypeError: 'Column' object is not callable